<table class="table is-fullwidt is-striped">
	<caption><h3 class="subtitle is-3">Mis productos</h3></caption>
	<thead class="thead">
		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Año</th>
			<th>Precio</th>
		</tr>
	</thead>
	<tbody class="tbody">
		<tr *ngFor="let product of listaProductos | async">
			<td data-label="Account">{{product.id}}</td>
			<td data-label="Account">{{product.name}} </td>
			<td data-label="Due Date">{{product.description}}</td>
			<td data-label="Amount">{{product.year}}</td>
			<td data-label="Period"><h6 class="title is-6">{{product.price | currency}}</h6></td>
			<td>
				<p class="buttons">
					<a class="button is-small is-primary" (click)="actualizarProducto(product)">
						<span class="icon is-small is-outline">
                   <i class="material-icons">edit</i>
            </span>
					</a>
					<a class="button is-small is-danger" (click)="abrirDialogo(product.id)">
						<span class="icon  is-small">
                    <i class="material-icons">delete</i>
									</span>
					</a>
				</p>
			</td>
		</tr>

	</tbody>
</table>