<article class="message is-danger">
  <div class="message-body">
    Los campos con <span class="has-text-danger">(*)</span> son obligatorios, hasta que no se validen no se habilitara el botón de guardar.
  </div>
</article>
<form [formGroup]="productForm" (ngSubmit)="enviarAccion()">
	<div class="field">
		<label class="label control">Nombre <span class="has-text-danger">(*)</span></label>
		<div class="control">
			<input class="input" type="text" placeholder="Ingresa el nombre del producto" formControlName="name"
            [ngClass]="{'is-danger': (name.errors && submited), 'is-primary': !name.errors}"
          >

			<div *ngIf="name.invalid && submited">
				<p class="help is-danger">{{getErrorControl('name')}}</p>
			</div>
		</div>
	</div>

	<div class="field">
		<label class="label">Descripción <span class="has-text-danger">(*)</span></label>
		<div class="control has-icons-left has-icons-right">
			<textarea class="textarea" placeholder="Ingresa una descripcion del producto" formControlName="description"
          [ngClass]="{'is-danger': (description.errors && submited), 'is-primary': !description.errors}"
          ></textarea>

			<span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
		</div>
		<div *ngIf="description.invalid && submited">
			<p class="help is-danger">{{getErrorControl('description')}}</p>
		</div>
	</div>

	<div class="field">
		<label class="label">Año <span class="has-text-danger">(*)</span></label>
		<div class="control has-icons-left has-icons-right">
			<input class="input" [ngClass]="{'is-danger': (year.errors && submited), 'is-primary': !year.errors}" type="number" placeholder="Ingresa el año de creacion" value="Ingresa el año de creacion del producto" formControlName="year">
			<span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
			<span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
		</div>
		<div *ngIf="description.invalid && submited">
			<p class="help is-danger">{{getErrorControl('year')}}</p>
		</div>
	</div>

	<div class="field">
		<label class="label">Precio <span class="has-text-danger">(*)</span></label>
		<div class="control">
			<input class="input" [ngClass]="{'is-danger': submited && price.errors, 'is-primary' : !price.errors}" type="number" placeholder="Precio del producto"  formControlName="price">
				</div>
			<div *ngIf="price.invalid && submited">
				<p class="help is-danger">{{getErrorControl('price')}}</p>
			</div>
		</div>


		<div class="field">
			<div class="control">
				<label class="checkbox">
      <input type="checkbox" formControlName="termCondition">
      Agrega <a href="#">los terminos y condiciones</a>
    </label>
			</div>
			<div *ngIf="submited">
				<p class="help is-danger">{{getErrorControl('termCondition')}}</p>
			</div>
		</div>



		<div class="field is-grouped">
			<div class="control">
				<button class="button is-primary" type="submit" [disabled]="productForm.invalid">Guardar</button>
			</div>
			<div class="control">
				<button type="button" class="button" (click)="limpiarFormulario()">Cancel</button>
			</div>
		</div>
</form>